* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 25px;
  color: aliceblue;
  font-weight: 600;
  text-shadow: 2px 2px 2px black;
}

header {
  text-align: center;
  padding: 4px 10%;
  margin-bottom: 50px;
  background-color: rgb(84, 8, 70);
   
}

.app{
  background: url(../src/images/jim-josef-0spOq1mYtZw-unsplash.jpeg);
  background-repeat: no-repeat;
  height: 100vh;
}