* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 25px;
  color: aliceblue;
  font-weight: 600;
  text-shadow: 2px 2px 2px black;
}

header {
  text-align: center;
  padding: 4px 10%;
  margin-bottom: 50px;
  background-color: rgb(84, 8, 70);
   
}

.app{
  background: url(../src/images/jim-josef-0spOq1mYtZw-unsplash.jpeg);
  background-repeat: no-repeat;
  height: 100vh;
}

.taskCard{
  width: 250px;
  padding: 10px, 25px;
  margin: 10px 4%;
  background-color: rgb(228,228,228);
}

.taskCardTitleArea{
  margin-bottom: 10px;
  width: 30%;
  cursor: pointer;
}

.taskCardTitleInput{
  width: 80px;
  font-size: 1.1rem;
  padding: 4px, 6px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.taskAddInput{
  width: 80%;
  font-size: 1.1rem;
  padding: 10px 15px;
 margin: 10px 20px; 
  border-radius: 3px;
  border: none;
}